@model IEnumerable<Beach_Review_Site_Project.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">

    @foreach (var item in Model)

    {
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption beachy">
                    <h3>@Html.DisplayFor(modelItem => item.Category.Region)</h3>
                    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                    <p>@Html.DisplayFor(modelItem => item.Beach)</p>
                    <p>@Html.DisplayFor(modelItem => item.Comments)</p>
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary", role = "button" })

                </div>
            </div>
        </div>
    }
</div>
